@import 'variables.css';

.artist-detail-container {
    min-height: 100vh;
    position: relative;
}

/* btn cerrar */
.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
    color: white;
    font-size: 24px;
}

/* Imagen Artista */
.artist-image {
    height: 50vh;
    background: #6B7280;
    overflow: hidden;
}

.artist-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Info artista */
.artist-content {
    padding: 20px;
}

.artist-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.artist-title h1 {
    font-family: var(--font-swiza);
    font-weight: var(--swiza-light);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.category {
    font-family: var(--font-swiza);
    font-weight: var(--swiza-light);
    color: #FF0000;
    font-size: 1rem;
}

.artist-number {
    font-family: var(--font-swiza);
    font-weight: var(--swiza-light);
    font-size: 2.5rem;
    font-weight: bold;
}

.artist-description {
    font-family: var(--font-swiza);
    font-weight: var(--swiza-light);
    color: #444;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Botones */
.interaction-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.like-btn, .share-btn {
    padding: 8px 16px;
    border: 1px solid #FF0000;
    border-radius: 20px;
    background: none;
    color: #FF0000;
    font-size: 14px;
    cursor: pointer;
}

.like-btn .count {
    margin-left: 5px;
}

.globe-icon {
    margin-left: auto;
    font-size: 24px;
    color: #666;
}

/* Artist Preview y Next */
.artist-preview-stack {
    position: fixed;
    bottom: 60px;
    left: 0;
    right: 0;
}

.preview-item, .next-item {
    padding: 20px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preview-name, .next-name{
    font-family: var(--font-swiza);
    font-weight: var(--swiza-bold);
    font-size: 18px;
    font-weight: bold;
}

.preview-number, .next-number{
    font-family: var(--font-swiza);
    font-weight: var(--swiza-regular);
    font-size: 24px;
    font-weight: bold;
}

/* Bottom Menu */
.bottom-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    display: flex;
    justify-content: space-around;
    padding: 1.1rem 0;
}

.bottom-menu a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

/* Slider */

.slider {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slide.active {
    opacity: 1;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.dot.active {
    background: white;
}

/* Estilos delscroll */
.artist-description {
    max-height: 150px;
    overflow-y: auto;
    padding-right: 10px;
    margin: 20px 0;
  }
  
  .artist-description::-webkit-scrollbar {
    width: 6px;
  }
  
  .artist-description::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  .artist-description::-webkit-scrollbar-thumb {
    background: #ec6356;
    border-radius: 10px;
  }
  
  .artist-description::-webkit-scrollbar-thumb:hover {
    background: #d45347;
  }