@import 'variables.css';

.search-container {
    padding: 2.5% 0 ;
    width: 95%;
    margin: 0 auto;
    background: white;
    min-height: 100vh;
    position: relative;
}


.search-bar {
    margin-top: 2rem;
    padding: 0.9 1.25 rem;
    display: flex;
    align-items: center;
    background: white;
    position: sticky;
    top: 0;
    z-index: 100;
}

.search-bar input {
    width: 100%;
    height: 40px;
    background: #f0f0f0;
    border: none;
    border-radius: 25px;
    padding: 0 40px;
    font-size: 1rem;
}

.search-bar i.bx-search {
    position: absolute;
    left: 12px;
    color: #666;
    font-size: 20px;
}

.search-bar i.bx-x {
    position: absolute;
    right: 12px;
    color: #666;
    font-size: 20px;
    cursor: pointer;
}

.search-bar input:focus {
    outline: none;
    background: #e8e8e8;
}

.search-bar {
    position: relative;
  }
  
  .search-bar input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
  
  #close-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
  }

/* Artists List Styles */
.artists-list {
    padding: 5px 20px;
    margin-bottom: 60px;
}

.artist-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}

.artist-info h2 {
    font-family: var(--font-swiza);
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.artist-info address {
    font-family: var(--font-swiza);
    font-weight: var(--swiza-light);
    font-size: 0.8rem;
    color: #666;
}

.globe-icon {
    color: #000000;
    font-size: 24px;
}

/* Bottom Navigation */
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    max-width: 430px;
    margin: 0 auto;
}

.nav-item {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.nav-item:hover {
    color: #ddd;
}

.filter-section {
    padding: 10px 15px;
    background: white;
    border-bottom: 1px solid #eee;
}

.filter-scroll {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.filter-btn {
    padding: 8px 12px;
    margin-right: 5px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background: white;
    color: #666;
    font-size: 13px;
    white-space: nowrap;
    cursor: pointer;
    flex: 1;
}

.filter-btn:last-child {
    margin-right: 0;
}